.feature_section {
  text-align: center;
  margin-top: 50px;
}

.feature_section span {
  color: #ff5331;
}

.feature_section h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
  font-weight: 700;
}

.feature_section p {
  color: #191720;
  font-weight: light;
}

#restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-left: 70px;
}

#restaurant_images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#restaurant_images img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: white;
  padding: 10px;
}

#restaurant_images div {
  background-color: #fafafa;
  height: 150px;
  width: 100px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-top: 20px;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
.bike img {
  height: 100px;
  width: 150px;
  position: relative;
  right: 70px;
  bottom: 0px;
}

#restaurant .paragraph {
  background-color: #fafafa;
  height: 150px;
  padding-top: 50px;
  align-items: center;
  border-radius: 20px;
  font-size: 25px;
  padding-right: 100px;
  padding-left: 20px;
}

#restaurant_paragraph {
  display: flex;
  margin-left: 80px;
}

.deals {
  color: #ff5331;
}
.free {
  color: #009b00;
}
