.hero_container {
  width: 100%;
  padding-inline: 50px;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero_content h1 {
  font-size: 4rem;
  padding-top: 50px;
  font-weight: bold;
}

.hero_content p {
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 15px;
}

.hero_input {
  background-color: #f6f6f6;
  border-radius: 30px;
  width: 410px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_input input {
  background-color: #f6f6f6;
  border: none;
  width: 300px;
  outline: none;
  padding-left: 30px;
  font-size: 16px;
}

.hero_input button {
  padding: 10px;
  background-color: #ff5331;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.hero_img {
  background-color: #f2ebda;
  border-radius: 50px;
  height: 462px;
}
.hero_img img {
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
}

@media (max-width: 1000px) {
  .hero_img {
    display: none;
  }
}

.app_download {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}
.app_download img {
  cursor: pointer;
}
@media (max-width: 1000px) {
  .hero {
    text-align: center;
  }
  .hero_content h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .hero_content h1 {
    padding-top: 10px;
    font-size: 2rem;
    text-align: center;
    padding-inline: 10px;
  }
  .hero_content p {
    font-size: 0.7rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .hero_input {
    padding-inline: 15px;
  }
  .hero_input button {
    font-size: 15px;
  }
  .app_download {
    margin-top: 15px;
  }
}
